@import '../../assets/styles/variables.scss';

.footer {
  background-color: $secondary-color;
  width: 100%;
  padding: 2vh;
  padding-bottom: 5vh;
  box-sizing: border-box;
  .links {
    display: flex;
    flex-wrap: wrap;
    ul {
      width: 50%;
      li {
        padding: 4px 0;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        a {
          color: $primary-color;
          font-weight: 400;
        }
      }
    }
  }
  .copyright {
    margin-top: 2vh;
  }
}

@include media-large {
  .footer {
    padding: 2vw 72px;
  }
}